<% if user_signed_in? %>
  <div class="links">
    <%= button_to 'Logout', destroy_user_session_path, method: :delete, class: 'btn btn-warning' %>
    <%= link_to 'Favorites', favorites_user_path(current_user) %>
  </div>
<% end %>

<h1>List of travel places</h1>

<% if user_signed_in? && current_user.agent? %>
  <%= link_to 'Add new place', new_travel_place_path %>
<% end %>
<div class="places">
  <% if @travel_places.present? %>
    <% @travel_places.each do |travel_place| %>
      <%= render 'place_card', travel_place: travel_place %>
  <% end %>
  <% else %>
    <p>No places yet.</p>
  <% end %>
 </div>
