body {
    margin: 20px;
}
.places {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
}

form {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    max-width: 400px;
}
form button {
    margin: 5px 0;
}
form .field {
    display: block;
}
.card-header, .card-footer {
    display: flex;
    justify-content: space-between;
}
textarea, input[type=text], input[type=email], input[type=password] {
    width: 100%;
}
textarea {
    height: 100px;
}
.travel-place {
    max-width: 400px;
    width: 100%;
}

.links {
    margin-top: 10px;
    display: flex;
    align-items: center;
    gap: 20px;
}